$articleWidth: 520px;
$articleSpaceTop: 55px;
$articleSpaceLeft: 300px;
$articleMainImageWidth: 520px;

.littleSpaceRight {
  padding-right: 5px;
}

.spaceTop {
  margin-top: $articleSpaceTop;
}
.spaceLeft {
  margin-left: $articleSpaceLeft;
}
.noMarginBottom {
  margin-bottom: 0;
}
#read-article {
  max-width: 100%;
  max-height: 90vh;
  background: transparent;
  overflow-y:scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  h3,
  p {
    width: $articleWidth;
    word-break: break-all;
  }
  .mainImg {
    width: $articleMainImageWidth;
  }
}