$articleWidth: 520px;
$articleSpaceTop: 100px;
$articleSpaceLeft: 300px;
$articleMainImageWidth: 520px;

.littleSpaceRight {
  padding-right: 5px;
}

.spaceTop {
  padding-top: $articleSpaceTop;
}
.spaceLeft {
  padding-left: $articleSpaceLeft;
}
#read-article {
  width: 100%;
  height: 100%;
  background-color: white ;

  h3,
  p {
    width: $articleWidth;
    word-break: break-all;
  }
  .mainImg {
    width: $articleMainImageWidth;
  }
}