$article-width: 520px;
$red-article-space-top: 55px;
$read-article-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

.read-article-space-top {
  margin-top: $red-article-space-top;
}

#read-article {
  max-width: 100%;
  max-height: 90vh;
  background: transparent;
  overflow-y: scroll;
  @include box-shadow($read-article-box-shadow);

  h3,
  p {
    width: $article-width;
    word-break: break-all;
  }
}