/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/vendor/
/bin/
/node_modules/
/bower_components/
/web/images/
/web/fonts/
*~
.idea
lithuanify.tar.gz
