@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}
@mixin box-shadow($style...) {
    -webkit-box-shadow: $style;
    -moz-box-shadow: $style;
    -o-box-shadow: $style;
    box-shadow: $style;
}