html, body, .container, #map {
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
}
.row {
    width: 100%;
    margin-top: 20px;
    z-index: 2000000;
    position: absolute;
}
#map {
    height:100%;
}
article img {
    padding-right: 5px;
}
#read-article {
    z-index: 0;
    width: 100%;
    height: 100%;
    padding-left: 350px;
    padding-top: 100px;
    background-color: white;
    display: none;
}
#read-article h3 {
    width: 520px;
    margin-top: 0px;
}
#read-article p {
    width: 520px;
}
.col-lg-12 {
    height:100%;
    margin: 0px;
    padding: 0px;
}
.gmnoprint {
    display:none;
}
#slider {
    width: 100%;
    position: absolute;
    bottom: 2px;
}