{% extends "::base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block head_stylesheets %}
    <link rel="stylesheet"
          href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
{% endblock %}
{% block body %}
    {{ parent() }}
    <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Rasti straipsniai
                </a>
            </li>
            <article>
                <h3>Pasaulinis skandalas: labai netikėtas Rusijos vaidmuo</h3>
                <img width="105px" src="http://g4.dcdn.lt/images/pix/vladimiras-putinas-70715302.jpg" style="float: left;" />
                <p>„Panamos dokumentai“ neatrodo palankūs Rusijai. Žurnalistai, tyrinėjantys iš vienos Panamos teisinės
                    įmonės nutekintus finansinius duomenis, teigia, kad Rusijos prezidentui Vladimirui Putinui artimų
                    draugų ratas ofšorinėse bankų sąskaitose galėjo laikyti iki 2 mlrd. JAV dolerių.</p>
            </article>
            <article>
                <h3>Kraukitės lagaminus – gyvenimas čia gerėja</h3>
                <img width="105px" src="http://g2.dcdn.lt/images/pix/londonas-70100190.jpg" style="float: left;" />
                <p>Iš Lietuvos į užsienį vėl siunčiama žinia: grįžkite, išvažiavusieji, dabar pats tinkamiausias metas.
                    Gerai apmokamų darbų yra, vietinis verslas žino, kokių darbuotojų reikia. Kraukitės lagaminus –
                    gyvenimas čia gerėja.</p>
            </article>
            <article>
                <h3>Lietuvis emigrantas darbovietėje sukėlė didžiulį gaisrą: viršininko reakcija – netikėta</h3>
                <img width="105px" src="http://g2.dcdn.lt/images/pix/arunas-70820028.jpg" style="float: left;" />
                <p>Kai iš gimtojo Radviliškio Arūnas važiavo į Airiją, jis nemanė, kad ten jo laukia tiek daug
                    išgyvenimų. Jis nesitikėjo, kad darbų teks pakeisti ne du ir ne tris, o keliolika.</p>
            </article><article>
                <h3>Kanados lietuvis mato vieną didelį studijų svetur pranašumą</h3>
                <img width="105px" src="http://g1.dcdn.lt/images/pix/kanados-lietuvis-algimantas-puteris-70527820.jpg" style="float: left;" />
                <p>Mediciną Kaune studijuojantis Kanados lietuvis Algimantas Puteris tapęs gydytoju norėtų likti gyventi Lietuvoje.</p>
            </article>

        </ul>
    </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <center>
                <div class="row">
                    <div class="col-lg-12">
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="date" class="form-control" id="date1" value="<?php echo date('Y-m-d');?>">
                            </div>
                            -
                            <div class="form-group">
                                <input type="date" class="form-control" id="date2" value="<?php echo date('Y-m-d');?>">
                            </div>
                            <button type="submit" class="btn btn-default" id="menu-toggle">Ieškoti</button>
                        </form>
                    </div>
                </div>
                </center>
            </div>
            <div id="map"></div>
    </div>
    <script>
        function initMap() {
            var myLatLng = {lat: 20, lng: 0};
            var map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                zoom: 3,
                styles: [{
                    featureType: 'poi',
                    stylers: [{ visibility: 'off' }]  // Turn off points of interest.
                }, {
                    featureType: 'transit.station',
                    stylers: [{ visibility: 'off' }]  // Turn off bus stations, train stations, etc.
                }],
                disableDoubleClickZoom: true,
                mapTypeControl: false,
                streetViewControl: false
            });
            var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image,
                animation: google.maps.Animation.DROP,
                title: 'Hello World!'
            });
            var contentString =
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h1 id="firstHeading" class="firstHeading">Malis</h1>'+
                    '<div id="bodyContent">'+
                    '<p><b>Malis</b>, <b>30</b> straipsnių.</p>'+
                    '</div>';
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        }
    </script>

{% endblock %}
